{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}
{% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3 visible-xs">
					<button class="btn btn-default btn-xs" type="button" onclick="window.location.href='{{last_url}}';" style="margin-top: 8%;"><i class="fa fa-reply"></i> Retour</button>
				</div>
				<div class="col-md-4 col-xs-8">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i>État de la transaction.</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="bg-light" style="margin: 10px">
                <div class="row text-center">
                    <div class="col-md-12">
                        <p>
                            Il semble y avoir eu un problème lors de votre paiement, nous sommes désolés que vous éprouviez des difficultés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block menu_active %}
<script type="text/javascript">
$("#topnav-sub-transactions").addClass("active");
$("#topnav-user").addClass("active");
</script>
{% endblock menu_active%}