{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}
{% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3 visible-xs">
					<button class="btn btn-default btn-xs" type="button" onclick="window.location.href='{{last_url}}';" style="margin-top: 8%;"><i class="fa fa-reply"></i> Retour</button>
				</div>
				<div class="col-md-4 col-xs-8">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i>Ajout de transactions.</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="bg-light" style="margin: 10px">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Les TRANSACTIONS sont une contribution pour l'utilisation du service.</br>
                    Peu importe l'objet que vous souhaitez réserver, il vous en coûte une TRANSACTION.</br> 
                    La TRANSACTION sera suspendue lorsque le donneur confirme vous réserver un objet. Elle sera ensuite déduite de votre compte lorsque l'entente sera conclue et l'objet récupéré.</br> 
                    Si vous n'avez aucune TRANSACTION à votre compte, vous ne pourrez réserver aucun objet.</br>
                    ( ** <u>Les 2 premières transactions vous sont offertes gratuitement dès l'inscription</u> ** )</br>
                    Veuillez sélectionner le forfait qui vous convient le mieux:</br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="B2R2JLL8PKGEL">
                    <input type="hidden" name="on0" value="Transactions">
                    <select class="form-control" name="os0">
                        <option value="2">2 transactions pour $1.00 (0.50$/transaction)</option>
                        <option value="5">5 transactions pour $2.00 (0.40$/transaction)</option>
                        <option value="10">10 transactions pour $3.00 (0.30$/transaction)</option>
                    </select>
                    <input id="id_charset" name="charset" type="hidden" value="utf-8" />
                    <input type="hidden" name="currency_code" value="CAD">
                    <input type="hidden" name="custom" value="{{request.user.id}}">
                    <div class="margin-bottom-10"></div>
                    <input type="image" src="https://www.paypalobjects.com/fr_CA/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus securisee !">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>
                        Il est possible de payer par chèque ou en argent comptant.</strong>
                        Veuillez contacter:  info@jeprendsjedonne.com pour les informations.
                    
                </p>
                <p>
                    <strong>
                        * Vous êtes un organisme à but non lucratif??
                    </strong>
                        Contactez-nous à: info@jeprendsjedonne.com <br> 
                        Nous accordons de 5 à 10 transactions gratuitement par personne.<br>
                        Il reste présentement: 200 transactions de disponible. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block menu_active %}
<script type="text/javascript">
$("#topnav-sub-transactions").addClass("active");
$("#topnav-user").addClass("active");
</script>
{% endblock menu_active%}