{% extends "base_generic.html" %} {% load staticfiles %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
    </div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3 visible-xs">
					<button class="btn btn-default btn-xs" type="button" onclick="window.location.href='{{last_url}}';" style="margin-top: 8%;"><i class="fa fa-reply"></i> Retour</button>
				</div>
				<div class="col-md-4 col-xs-8">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i>Liste de transactions.</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2 text-center">Date</th>
                            <th class="col-md-1 text-center">Type</th>
                            <th class="col-md-3 text-center">Description</th>
                            <th class="col-md-2 text-center">Credit Dispo</th>
                            <th class="col-md-2 text-center">Credit Non Dispo</th>
                            <th class="col-md-1 text-center">Transaction</th>
                            <th class="col-md-1 text-center">$</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td class="text-center">{{transaction.created}}</td>
                            <td class="text-center">{{transaction.type}}</td>
                            
                            {% if transaction.type == 'Reçu' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">{{transaction.total_credit}}</td>
                                <td class="text-center">-{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">-1 = {{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Donné' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">+{{transaction.credit}} = {{transaction.total_credit}}</td>
                                <td class="text-center">-{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">{{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Reservé' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">-{{transaction.credit}} = {{transaction.total_credit}}</td>
                                <td class="text-center">+{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">{{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Accepté' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">{{transaction.total_credit}}</td>
                                <td class="text-center">+{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">{{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Suprimé' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">+{{transaction.credit}} = {{transaction.total_credit}}</td>
                                <td class="text-center">-{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">{{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Annonce Suprimé' %}
                                <td class="text-center">{{transaction.item.title}}</td>
                                <td class="text-center">{{transaction.total_credit}}</td>
                                <td class="text-center">-{{transaction.credit}} = {{transaction.unavaible_credits}}</td>
                                <td class="text-center">{{transaction.total_transaction}}</td>
                            {% elif transaction.type == 'Transaction' %}
                                <td class="text-center">Ajout de transactions</td>
                                <td class="text-center">{{transaction.total_credit}}</td>
                                <td class="text-center">{{transaction.unavaible_credits}}</td>
                                <td class="text-center">+ {{transaction.transaction}} = {{transaction.total_transaction}}</td>
                                
                            {% endif %}
                            <td class="text-center">{{transaction.amount}}.00 $</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content%}
{% block menu_active %}
<script type="text/javascript">
    $("#topnav-items").addClass("active");
</script>
{% endblock menu_active%}