{% extends "base_generic.html" %}
    {% load staticfiles %}
    {% block Slider %}
    <!--=== Slider ===-->
    <!--=== End Slider ===-->
    {% endblock Slider %}
    {% block js %}
    <script type="text/javascript" src={% static "js/pages/item_add.js" %}></script>
    {% endblock js %}
    {% block content%}
            <div class="container">
            <div class="margin-bottom-10"></div>
               <div class="panel panel-green margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Ajouter un item.</h3>
                    </div>
                    <div class="panel-body">                                                      
                        <form class="margin-bottom-40" role="form" id="category_form" method="post" enctype="multipart/form-data" action="/items/add_item/">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                            {% if field.label == 'Categorie Principale:' or field.label == 'Categorie Secondaire:' %}
                                <div class="form-group col-md-6">
                                {% if form.errors.child_category_id %}<span class="color-red"> Ce champ est requis.</span>{% endif %}
                            {% elif field.label == 'Titre:' %}
                                <div class="form-group col-md-6">
                            {% elif field.label == 'Credit:' %}
                                <div class="form-group col-md-6">
                            {% elif field.label == 'Photo 1:' or field.label == 'Photo 2:' or field.label == 'Photo 3:'%}
                                <div class="form-group col-md-4">
                            {% else %}
                                <div class="form-group col-md-12">
                            {% endif %}
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>                          
                            {% endfor %}
                            <div class="form-group col-md-1">                
                                <button type="submit" class="btn-u btn-u-green">Soumettre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    {% endblock content%}

{% block menu_active %}

    <script type="text/javascript">
        $("#topnav-sub-add-item").addClass("active");
        $("#topnav-items").addClass("active");
    </script>
{% endblock menu_active%}