{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %}
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}
{% block content%}
<div class="container">
    <div class="margin-bottom-10"></div>
    <div class="panel panel-green margin-bottom-10">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Ajouter un item.</h3>
        </div>
        <div class="panel-body">
            <form class="margin-bottom-40" role="form" id="category_form" method="post" enctype="multipart/form-data" action="/items/add_item/">
                {% csrf_token %}
                <input class="form-control" id="id_item_id" name="item_id" type="hidden" value="{{form.field.item_id}}" />
                <input class="form-control" id="id_user_id" name="user_id" type="hidden" value="{{profile.profile_data.id}}" />
                <input class="form-control" id="id_status_id" name="status_id" type="hidden" value="1" />
                <div class="form-group col-md-6">
                    <label>Catégorie Principale:</label><span class="color-red"> * </span>
                    <select class="form-control" id="id_parent_category_id" name="parent_category_id">
                    {% for option in form.field.parent_category_id.options %}
                    <option value="{{option.id}}" {% if form.field.parent_category_id.value == option.id %}selected="selected"{% endif %}>{{option.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Catégorie Secondaire:</label><span class="color-red"> * </span>{{form.error.child_category_id | safe }}
                    <select class="form-control" id="id_child_category_id" name="child_category_id" data-id="{{form.field.child_category_id.value}}">
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Titre:</label><span class="color-red"> * </span>{{form.error.title | safe }}
                    <input class="form-control" id="id_title" name="title" type="text" value="{{form.field.title.value}}" maxlength="50"/>
                </div>
                <div class="form-group col-md-6">
                    <label>Crédit(s):</label><span class="color-red"> * </span>{{form.error.credit | safe }}
                    <select class="form-control" id="id_credit" name="credit">
                        <option value="">Veuillez sélectionner le nombre de crédits demandés.</option>
                        <option value="0" {% if form.field.credit.value == "0" %}selected="selected"{% endif %}>0</option>
                        <option value="1" {% if form.field.credit.value == "1" %}selected="selected"{% endif %}>1</option>
                        <option value="2" {% if form.field.credit.value == "2" %}selected="selected"{% endif %}>2</option>
                        <option value="3" {% if form.field.credit.value == "3" %}selected="selected"{% endif %}>3</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Description:</label><span class="color-red"> * </span>{{form.error.description | safe }}
                    <textarea class="form-control" cols="40" id="id_description" name="description" rows="10">{% if form.field.description.value %}{{form.field.description.value}}{% endif %}</textarea>
                </div>
                {% if form.error %}
                <div class="row">
                    <div class="form-group col-md-4">
                        <span class="color-red">&nbsp;&nbsp;&nbsp;&nbsp;Veuillez resélectionner vos images </span>
                    </div>
                </div>
               {% endif %}
               <div class="row">
                    <div class="form-group col-md-4">
                        <label>Photo 1:</label> (Image principale){{form.error.image_1|safe}}
                        <input class="form-control" id="id_img1" name="img1" type="file"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Photo 2:</label>{{form.error.image_2|safe}}
                        <input class="form-control" id="id_img2" name="img2" type="file"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Photo 3:</label>{{form.error.image_3|safe}}
                        <input class="form-control" id="id_img3" name="img3" type="file"/>
                    </div>
               </div>
               <div class="row">
                    <div class="gallery-page">
                         <div class="form-group col-md-4 text-center">
                              {% if form.field.image_1.value %}
                                   <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ form.field.image_1.value.large.url}}">
                                        <span class="overlay-zoom">
                                        <img alt="" src="/{{ form.field.image_1.value.thumbnail.url}}" class="img-responsive center-block">
                                        <span class="zoom-icon"></span>
                                        </span>
                                   </a>
                                   <a href="/items/del_img/?item={{form.field.item_id}}&img=1" class="btn-u btn-u-xs rounded btn-u-red" type="button">Supprimer</a>
                              {% endif %}
                         </div>
     
                         <div class="form-group col-md-4 text-center">
                              {% if form.field.image_2.value %}
                                   <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ form.field.image_2.value.large.url}}">
                                   <span class="overlay-zoom">
                                        <img alt="" src="/{{ form.field.image_2.value.thumbnail.url}}" class="img-responsive center-block">
                                        <span class="zoom-icon"></span>
                                   </span>
                                   </a>
                                   <a href="/items/del_img/?item={{form.field.item_id}}&img=2" class="btn-u btn-u-xs rounded btn-u-red" type="button">Supprimer</a>
                              {% endif %}
                         </div>
                         
                         <div class="form-group col-md-4 text-center">
                              {% if form.field.image_3.value %}
                                   <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ form.field.image_3.value.large.url}}">
                                   <span class="overlay-zoom">
                                   <img alt="" src="/{{ form.field.image_3.value.thumbnail.url}}" class="img-responsive center-block">
                                   <span class="zoom-icon"></span>
                                   </span>
                                   </a>
                                   <a href="/items/del_img/?item={{form.field.item_id}}&img=3" class="btn-u btn-u-xs rounded btn-u-red" type="button">Supprimer</a>
                              {% endif %}
                         </div>
                    </div>
               </div>
               
               
                <div class="form-group col-md-4">                
                    <button type="submit" class="btn-u">Publier</button>
                    {% if form.field.item_id %}
                    <a href="/items/details/{{form.field.item_id}}/" class="btn-u btn-u-red">Annuler</a>
                    {% else %}
                    <a href="/items/" class="btn-u btn-u-red">Annuler</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
{% block js %}
    <script type="text/javascript" src={% static "js/pages/item_add.js" %}></script>
    <script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
{% endblock js %}
{% block jquery_init %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initFancybox();
        });
    </script>
{% endblock jquery_init %}
{% block menu_active %}
    <script type="text/javascript">
        $("#topnav-sub-add-item").addClass("active");
        $("#topnav-items").addClass("active");
    </script>
{% endblock menu_active%}