<div class="panel panel-green margin-bottom-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> Demande de réservation pour cet annonce.</h3>
    </div>
    <div class="panel-body">
        {% if reservations %}
        {% for reservation in reservations %}
        <div class="bg-light" style="margin: 10px; vertical-align: middle;">
            {% if reservation.username != request.user.username %}
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li class="tooltips" data-toggle="tooltip" data-placement="right" data-original-title="Envoyer un message a l'utilisateur."><a data-user="{{reservation.user}}" href="#"><i class="fa fa-comments-o"></i> {{reservation.username}}</a></li>
                        <li><i class="fa fa-map-marker"></i> {{reservation.city}}, {{reservation.prov_state}}</li>
                        <li><i class="fa fa-calendar"></i> {{reservation.created}}</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h4>{{reservation.type.name}}</h4>
                    {{reservation.note|linebreaks}}
                </div>
                <div class="col-md-2">
                    {% if reservation.accepted %}
                    <button class="btn btn-sm rounded btn-success center-block disabled" type="button">Accepter</button>
                    <div class="margin-bottom-10"></div>
<!--                    {% if not reservation.delivery.giver_conf and not reservation.delivery.taker_conf %}
                    <button class="btn btn-sm rounded btn-danger center-block" type="button">Annuler</button>
                    {% endif %} -->
                    {% elif no_edit %}
                    <button class="btn btn-sm rounded btn-success center-block disabled" type="button">Accepter</button>
                    <div class="margin-bottom-10"></div>
                    {% else %}
                    {% if reservation.avaible_credits < item.credit %}
                    <a class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Crédits insufisant.">
                    <button class="btn btn-sm rounded btn-success center-block disabled"  type="button">Accepter</button>   
                    </a>                 
                    {% else %}
                    <a href="/items/reservation?item_id={{item.id}}&status=accept&taker={{reservation.user}}">
                    <button class="btn btn-sm rounded btn-success center-block" type="button">Accepter</button>
                    </a>
                    {% endif %}
<!--                    <div class="margin-bottom-10"></div>
                    <a href="/items/reservation?item_id={{item.id}}&status=refuse">
                    <button class="btn btn-sm rounded btn-danger center-block" type="button">Refuser</button>
                    </a>-->
                    {% endif %}
                </div>
            </div>
            {% if reservation.accepted %}
            <div class="row">
                <div class="col-md-12">
                    <hr class="devider">
                </div>
            </div>
            {% if reservation.delivery.giver_conf %}
            <div class="row">
                <div class="col-md-12">
                    <div class="sky-form">
                        <header class="text-center">
                            <h4>Votre confirmation de livraison.</h4>
                        </header>
                        <fieldset>
                            <div class="margin-bottom-10"></div>
                            <div class="row text-center">
                                Vous avez confirmé la livraison de l'item le: &nbsp; <i class="fa fa-calendar"></i>  &nbsp; {{reservation.delivery.giver_conf_date}}
                            </div>
                            <div class="margin-bottom-10"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-10"></div>
            {% else %}
            <form id="giver_rating" role="form" class="sky-form" method="post" enctype="multipart/form-data" action="/items/delivery/">
                {% csrf_token %}
                <header class="text-center">
                    <h4>Confirmation de la livraison.</h4>
                </header>
                <input type="hidden" name="item_id" value="{{item.id}}">
                <input type="hidden" name="from" value="giver">
                <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                <fieldset>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            Veuillez confirmer la livraison de l'item le plus tot possible apres l'avoir livré.<br>
                            Une fois que vous et le preneur aurez confirmé la livraison et la réception, les credits<br>
                            seront transfèré.
                        </div>
                    </div>
                </fieldset>
                <footer>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="label"><input type="checkbox" name="confirmation">&nbsp; Je confirme avoir remis l'item.<span class="color-red"> *</span>{% if message.confirmation %}<span class="color-red"> Veuillez confirmer.</span>{% endif %}</label>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-sm rounded btn-u pull-right" type="submit">Soumettre</button>
                        </div>
                    </div>
                </footer>
            </form>
            <div class="margin-bottom-10"></div>
            {% endif %}                                       
            {% if reservation.delivery.taker_conf %}
            <div class="sky-form">
                <header class="text-center">
                    <h4>Confirmation de livraison du preneur.</h4>
                </header>
                <fieldset>
                    <div class="margin-bottom-10"></div>
                    <div class="row text-center">
                        Le preneur a confirmé la réception de l'item le: &nbsp; <i class="fa fa-calendar"></i>  &nbsp; {{reservation.delivery.taker_conf_date}}
                    </div>
                    <div class="margin-bottom-10"></div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <label class="label">L'objet était-il tel que décrit?:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-left">
                                {% if reservation.delivery.taker_obj_rating > 0 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_obj_rating > 1 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_obj_rating > 2 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_obj_rating > 3 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_obj_rating > 4 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="label">Les ententes ont-elles été respecté?:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="pull-left">
                                {% if reservation.delivery.taker_deal_rating > 0 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_deal_rating > 1 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_deal_rating > 2 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_deal_rating > 3 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                                {% if reservation.delivery.taker_deal_rating > 4 %}
                                <i class="fa fa-star star-active"></i>
                                {% else %}
                                <i class="fa fa-star star"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr class="devider">
                        </div>
                        <div class="row">
                            <div class="margin-bottom-10"></div>
                            <div class="col-md-1 col-md-offset-1">
                                <label class="label pull-right">Note:</label>
                            </div>
                            <div class="col-md-9">
                                {{reservation.delivery.taker_note | linebreaks }}
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-10"></div>
                </fieldset>
            </div>
            
        
            {% else %}
            <div class="sky-form">
                <fieldset>
                    <div class="row text-center">
                        <h5>Le preneur n'a pas encore confirmé la réception de l'item.</h5>
                    </div>
                </fieldset>
            </div>
            {% endif %}
        {% endif %}
        {% endif %}
        </div>
        {% endfor %}
        {% else %}
            <div class="row  bg-light text-center" style="margin: 10px">
                <div class="col-md-12">
                    Il n'y as pas de demande de reservation pour cet item.
                </div>
            </div>
        {% endif %}
    </div>
</div>
</div>