{% extends "base_generic.html" %} {% load staticfiles %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
    </div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3 visible-xs">
					<button class="btn btn-default btn-xs" type="button" onclick="window.location.href='{{last_url}}';" style="margin-top: 8%;"><i class="fa fa-reply"></i> Retour</button>
				</div>
				<div class="col-md-2 col-xs-8">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i>Annonce #: {{item.id}}</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="bg-light" style="margin: 10px">
				<div class="row">
					<div class="col-md-2 col-xs-12">
						<div class="gallery-page">
							 {% if item.img1 and item.img2 and item.img3 %}
							<div class="row">
								<div class="col-md-12">
									<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img1.large.url}}">
									<span class="overlay-zoom">
									<img alt="" src="/{{ item.img1.thumbnail.url}}" class="img-responsive center-block">
									<span class="zoom-icon"></span>
									</span>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img2.large.url}}">
									<span class="overlay-zoom">
									<img alt="" src="/{{ item.img2.thumbnail.url}}" class="img-responsive center-block">
									<span class="zoom-icon"></span>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img3.large.url}}">
									<span class="overlay-zoom">
									<img alt="" src="/{{ item.img3.thumbnail.url}}" class="img-responsive center-block">
									<span class="zoom-icon"></span>
									</span>
									</a>
								</div>
							</div>
							 {% elif item.img1 and item.img2 %}
							<div class="row">
								<div class="col-md-12">
									<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img1.large.url}}">
									<span class="overlay-zoom">
									<img alt="" src="/{{ item.img1.thumbnail.url}}" class="img-responsive center-block">
									<span class="zoom-icon"></span>
									</span>
									</a>
								</div>
								<div class="col-md-6 col-md-offset-3">
									<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img2.large.url}}">
									<span class="overlay-zoom">
									<img alt="" src="/{{ item.img2.thumbnail.url}}" class="img-responsive center-block">
									<span class="zoom-icon"></span>
									</span>
									</a>
								</div>
							</div>
							 {% elif item.img1 and item.img3 %} <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img1.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img1.thumbnail}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img3.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img3.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							{% elif item.img2 and item.img3 %} <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img2.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img2.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							<a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img3.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img3.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							{% elif item.img1 %} <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img1.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img1.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							{% elif item.img2 %} <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img2.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img2.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							{% elif item.img3 %} <a class="thumbnail fancybox-button zoomer center-block" data-rel="fancybox-button" href="/{{ item.img3.large.url}}">
							<span class="overlay-zoom">
							<img alt="" src="/{{ item.img3.thumbnail.url}}" class="img-responsive center-block">
							<span class="zoom-icon"></span>
							</span>
							</a>
							{% endif %}
						</div>
					</div>
					<div class="col-md-7 column">
						<div class="headline" style="margin-left: 10px; margin-right: 10px">
							<h4>{{ item.title }}</h4>
						</div>
						<div>
								{{item.description|linebreaks}}
						</div>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
                            {% if item.user_id  == request.user or user.is_staff %}
                            <li>
                                <div class="pull-right">
                                    {% if not no_edit%}
                                        {% if not user.is_staff or item.user_id == request.user %}
                                            <a href="/items/edit_item/{{item.id}}/" class="btn-u btn-brd rounded-2x btn-u-xs" type="button"><i class="fa fa-pencil"></i> Modifier</a>
                                        {% endif %}
                                    {% endif %}
                                    <a href="#" data-toggle="modal" data-target="#supprimer" class="btn-u btn-brd rounded-2x btn-u-xs" data-original-title="Supprimer cette annonce."><i class="fa fa-times"></i> Supprimer</a>
                                </div>
                            </li>
                            </br></br>
                            {% endif %}
                            
							{% if item.credit == 3 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							{% elif item.credit == 2 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							{% elif item.credit == 1 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
                            {% else %}
                            <span class="color-yellow"><strong>Cet article est gratuit!</strong></span>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% if user.id != item.user_id.id %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Envoyer un message à l'utilisateur.">
                                <a data-user="{{poster_profile.profile_data.id}}" href="#">
                                    <i class="fa fa-comments-o"></i> {{poster_profile.profile_data.username}}</a>
                            </li>
                                {% endif %}
                            <li>
                                {%if poster_profile.rating %}
                                <a href="#" data-toggle="modal" data-target="#rating">
                                    <i class="fa fa-star"></i> {{poster_profile.rating.avg}}% ({{poster_profile.rating.total_items}} dons)
                                </a>
                                {% else %}
                                <i class="fa fa-star"> </i>
                                {% endif %}
                            </li>
							 {% endif %}
							<li><i class="fa fa-calendar"></i> {{item.created}}</li>
							<li><i class="fa fa-map-marker"></i> {{poster_profile.profile_data.city}}, {{poster_profile.profile_data.prov_state}}</li>
							{%if poster_profile.profile_data.district %}<li> {{poster_profile.profile_data.district}}</li>{% endif %}
							 {% if distance >= 0 %}
							<li><i class="fa fa-paper-plane-o"></i> {{distance}} km</li>
							 {% endif %} {% if item.status.id == 1 %}
							<li><span class="label label-u rounded">{{item.status.name}}</span></li>
							 {% elif item.status.id == 2 %}
							<li><span class="label label-yellow rounded">{{item.status.name}}</span></li>
							 {% elif item.status.id == 3 %}
							<li><span class="label label-red rounded">{{item.status.name}}</span></li>
                             {% elif item.status.id == 4 %}
							<li><span class="label label-red rounded">{{item.status.name}}</span></li>
                            {% endif %}
                             {% if item.user_id != request.user %} {% if user.is_authenticated and item.status.id == 1 or item.status.id == 2 %} {% if profile.profile_data.transactions %}
							<li style="margin-top: 5px;">
							{% if reservation_request != True %}
                            <button class="btn-u btn-brd rounded-2x btn-u-xs" type="button" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-download"></i>
							Interessé </button>
                            {% endif %}
							<a href="#" data-toggle="modal" data-target="#signaler" class="tooltips pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Signaler cette annonce.">
							<i class="fa fa-warning fa-2x" style="color:#d00808;"></i>
							</a>
							</li>
							 {% else %}
							<li style="margin-top: 5px;">
							<a class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Vous n'avez pas de transactions disponible.">
							<button class="btn-u btn-brd rounded-2x btn-u-xs" type="button">
							<i class="fa fa-download"></i>
							Interessé </button>
							</a>
							<a href="#" data-toggle="modal" data-target="#signaler" class="tooltips pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Signaler cette annonce.">
							<i class="fa fa-warning fa-2x" style="color:#d00808;"></i>
							</a>
							</li>
							 {% endif %} {% else %}
							<li style="margin-top: 5px;">
							<a href="#" data-toggle="modal" data-target="#signaler" class="tooltips pull-right" data-toggle="tooltip" data-placement="left" data-original-title="Signaler cette annonce.">
							<i class="fa fa-warning fa-2x" style="color:#d00808;"></i>
							</a>
							</li>
							 {% endif %} {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if request.user == item.user_id %} {% include "items/giver_reservation.html" %} {% endif %}
    
    {% for reservation in reservations %}
        {% if request.user.username == reservation.username %}
            {% include "items/taker_reservation.html" %}
        {% endif %}
    {% endfor %}
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-tasks"></i> Commentaires pour cette annonce.</h3>
		</div>
		<div class="panel-body">
			 {% if user.is_authenticated %} {% if comments %} {% for comment in comments %}
			<div class="row bg-light" style="margin: 10px">
				<div class="col-md-3">
					<ul class="list-unstyled">
						<li><i class="fa fa-briefcase"></i> &nbsp; {{comment.user_id.username}}</li>
						<li><i class="fa fa-map-marker"></i> &nbsp; {{comment.user_id.profile.city}}, {{comment.user_id.profile.prov_state}}</li>
						<li><i class="fa fa-calendar"></i> &nbsp; {{comment.created}}</li>
					</ul>
				</div>
				<div class="col-md-9">
					<p>
						{{comment.comment|linebreaks}}
					</p>
				</div>
			</div>
			 {% endfor %} {% else %}
			<div class="row bg-light" style="margin: 10px">
				<div class="col-md-12 text-center">
					 Il n'y a pas de commentaires pour cette annonce.
				</div>
			</div>
			 {% endif %} {% if item.status.id != 3 %}
			<form role="form" id="comment_form" method="post" enctype="multipart/form-data" action="/comments/post_comment/">
				 {% csrf_token %} <input type="hidden" name="item_id" value="{{item.id}}">
				<div class="row" style="margin: 10px">
					<div class="form-group">
						<label>Publier un commentaire:</label>
						<textarea class="form-control" id="comment" name="comment" rows="2"></textarea>
					</div>
				</div>
				<div class="row" style="margin: 10px;">
					<div class="form-group">
						<button type="submit" class="btn-u rounded">Publier</button>
					</div>
				</div>
			</form>
			 {% endif %} {% else %}
			<div class="row bg-light text-center" style="margin: 10px;">
				<div class="col-md-12">
					 Veuillez vous enregistrer pour voir ou émettre un commentaire.
				</div>
			</div>
			 {% endif%}
		</div>
	</div>
</div>
<!--=== End Content Part ===-->
<!-- Modal Interessé-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myTitle">Confimez votre intêret pour l'annonce #: {{item.id}}</h4>
			</div>
			<form class="sky-form" role="form" id="item_transaction" method="post" enctype="multipart/form-data" action="/items/reservation/">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<section>
								<input type="hidden" name="item_id" value="{{item.id}}">
								<label class="label">Laissez un message à l'annonceur</label>
								<label class="textarea">
								<textarea name="note" rows="3"></textarea>
								</label>
								<div class="note">
									<strong>Note:</strong> Le message est facultatif mais recommandé.
								</div>
								</section>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Confimer</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal Signaler-->
<div class="modal fade" id="signaler" tabindex="-1" role="dialog" aria-labelledby="myTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myTitle">Signaler l'annonce #: {{item.id}}</h4>
			</div>
			<form class="sky-form" role="form" id="signaler" method="post" enctype="multipart/form-data" action="/items/report/">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<fieldset>
								<section>
								<input type="hidden" name="item_id" value="{{item.id}}">
                                <input type="hidden" name="user_id" value="{{user.id}}">
								<label class="label">Spécifiez la raison</label>
								<label class="textarea">
								<textarea rows="3" name="reason"></textarea>
								</label>
								<div class="note">
									<strong>Note:</strong> La raison est requise..
								</div>
								</section>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Confimer</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal Supprimer-->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="myTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myTitle">Supprimer l'annonce #: {{item.id}}</h4>
			</div>
			<form class="sky-form" role="form" id="supprimer" method="post" enctype="multipart/form-data" action="/items/delete/">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
                            <input type="hidden" name="item_id" value="{{item.id}}">
                            <label class="label">Êtes vous certain de vouloir supprimer cet annonce ?</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Supprimer</button>
				</div>
			</form>
		</div>
	</div>
</div>



<!-- Modal POSTER RATING-->
<div class="modal fade" id="rating" tabindex="-1" role="dialog" aria-labelledby="myTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myTitle">Cote de l'annonceur.</h4>
			</div>
            <div class="modal-body">
                {% for quote in poster_profile.rating.last %}
                <div class="bg-light">
                    <div class="row">
                        <div class="col-md-4">
                            L'objet était-il tel que décrit?:
                        </div>                        
                        <div class="col-md-2 col-xs-12">
                            <div class="rating pull-left">
                                {{quote.taker_obj_rating}} / 5 <i class="fa fa-star" style="color:#f6b853;"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            Les ententes ont-elles été respectées?:
                        </div>
                        <div class="col-md-2">   
                            <div class="rating pull-left">
                                {{quote.taker_deal_rating}} / 5 <i class="fa fa-star" style="color:#f6b853;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-10"></div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-1">
                            Note:
                        </div>
                        <div class="col-md-9">
                            {% if quote.taker_note == None %}
                            Aucune
                            {% else %}
                            {{quote.taker_note}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>

		</div>
	</div>
</div>



 {% endblock content%} {% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js"%}></script>
 {% endblock js %} {% block jquery_init %}
<script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initFancybox();
        });
    </script>
 {% endblock jquery_init %} {% block menu_active %}
<script type="text/javascript">
        $("#topnav-items").addClass("active");
    </script>
    {% endblock menu_active%}