{% extends "base_generic.html" %} {% load staticfiles %} {% block CSS %}
<link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
 {% endblock CSS %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> : {% if type == 'user' %} Mes Annonces {% elif type == 'request' %} Mes Demandes {% elif data.parent_categories and data.child_categories %} {{data.parent_categories}} / {{data.child_categories}} {% else %} Récentes{% endif %}</h4>
				</div>
				 {% if type != 'user' and type != 'request' %}
				<!--<div class="col-md-1 text-align-right hidden-xs">-->
				<!--	<h4 class="panel-title text-right" style="margin-top: 5%;"><i class="fa fa-filter"></i> :</h4>-->
				<!--</div>-->
				<form role="form" id="distance" method="get" enctype="multipart/form-data" action="/items/">
					<div class="col-md-3">
						<i class="fa fa-wrench visible-xs"></i>
						<select class="form-control" id="status" name="status">
							<option value="0" {% if status == 0 %}selected="selected" {% endif %}>Tous</option>
							<option value="1" {% if status == 1 %}selected="selected" {% endif %}>Disponible</option>
							<option value="2" {% if status == 2 %}selected="selected" {% endif %}>Réservé</option>
							<option value="3" {% if status == 3 %}selected="selected" {% endif %}>Non Disponible</option>
							<option value="4" {% if status == 4 %}selected="selected" {% endif %}>Disponible & Réservé</option>
						</select>
					</div>
					<div class="col-md-2">
						<i class="fa fa-arrows-h visible-xs"></i>
						<select class="form-control" id="max_distance" name="max_distance">
							<option value="5" {% if max_distance == 5 %}selected="selected" {% endif %}>5 km</option>
							<option value="10" {% if max_distance == 10 %}selected="selected" {% endif %}>10 km</option>
							<option value="25" {% if max_distance == 25 %}selected="selected" {% endif %}>25 km</option>
							<option value="50" {% if max_distance == 50 %}selected="selected" {% endif %}>50 km</option>
							<option value="1000" {% if max_distance == 1000 %}selected="selected" {% endif %}>Illimité</option>
						</select>
					</div>
				</form>
				 {% endif %}
			</div>
		</div>
		<div class="panel-body">
			 {% for item in data.items_alert %} 
			<!-- Bordered Funny Boxes -->
			<div class="bg-light" style="margin: 10px; cursor: pointer" onclick="window.location.href='/items/details/{{ item.id }}';">
				<div class="row">
					<div class="col-md-2">
						<a>
						<img alt="" src="/{{item.img1.thumbnail.url}}" class="img-responsive center-block">
						</a>
					</div>
					<div class="col-md-7">
						<div class="headline">
							<h4>{{ item.title }}</h4>
							 {% if item.alert %} <span class="badge badge-red rounded-x pull-right">{{item.alert}}</span>{% endif %}
						</div>
						<p>
							 {{ item.description|truncatechars:350 }}
						</p>
					</div>
                    
					<div class="col-md-3">
						<ul class="list-unstyled">
							{% if item.credit == 3 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							{% elif item.credit == 2 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							{% elif item.credit == 1 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
                            {% else %}
                            <span class="color-yellow"><strong>Cet article est gratuit!</strong></span>
							{% endif %}
							<li><i class="fa fa-user"></i>
							{{ item.username }} </li>
							<li><i class="fa fa-calendar"></i> {{item.created}}</li>
							<li><i class="fa fa-map-marker"></i> {{item.city}}, </li>
							{%if item.district %}<li> {{item.district}}</li>{% endif %}
							 {% if user.is_authenticated %} {% if item.distance %}
							<li><i class="fa fa-paper-plane-o"></i> {{item.distance}} km</li>
							 {% else %}
							<li><i class="fa fa-paper-plane-o"></i> 0 km</li>
							 {% endif %} {% endif %} {% if item.status.id == 1 %}
							<li><span class="label label-u">{{item.status.name}}</span></li>
							 {% elif item.status.id == 2 %}
							<li><span class="label label-yellow">{{item.status.name}}</span></li>
							 {% elif item.status.id == 3 %}
							<li><span class="label label-red">{{item.status.name}}</span></li>
                             {% elif item.status.id == 4 %}
							<li><span class="label label-red">{{item.status.name}}</span></li>
							 {% endif %}
						</ul>
					</div>
				</div>
			</div>
			 {% endfor %}
            
            
            
            
            
			 {% for item in data.items %} 
			<!-- Bordered Funny Boxes -->
			<div class="bg-light" style="margin: 10px; cursor: pointer" onclick="window.location.href='/items/details/{{ item.id }}';">
				<div class="row">
					<div class="col-md-2">
						<a>
						<img alt="" src="/{{item.img1.thumbnail.url}}" class="img-responsive center-block">
						</a>
					</div>
					<div class="col-md-7">
						<div class="headline">
							<h4>{{ item.title }}</h4>
							 {% if item.alert %} <span class="badge badge-red rounded-x pull-right">{{item.alert}}</span>{% endif %}
						</div>
						<p>
							 {{ item.description|truncatechars:350 }}
						</p>
					</div>
					<div class="col-md-3">
						<ul class="list-unstyled">
							 {% if item.credit == 3 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							 {% elif item.credit == 2 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="padding-right:10px;color:#f6b853;"></i>
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
							 {% elif item.credit == 1 %}
							<li class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="Nombre de crédits demandés.">
							<i class="fa fa-money fa-2x" style="color:#f6b853;"></i>
							</li>
                            {% else %}
                            <span class="color-yellow"><strong>Cet article est gratuit!</strong></span>
							 {% endif %}
							<li><i class="fa fa-user"></i>
							{{ item.username }} </li>
							<li><i class="fa fa-calendar"></i> {{item.created}}</li>
							<li><i class="fa fa-map-marker"></i> {{item.city}}, </li>
							{%if item.district %}<li> {{item.district}}</li>{% endif %}
							 {% if user.is_authenticated %} {% if item.distance %}
							<li><i class="fa fa-paper-plane-o"></i> {{item.distance}} km</li>
							 {% else %}
							<li><i class="fa fa-paper-plane-o"></i> 0 km</li>
							 {% endif %} {% endif %} {% if item.status.id == 1 %}
							<li><span class="label label-u">{{item.status.name}}</span></li>
							 {% elif item.status.id == 2 %}
							<li><span class="label label-yellow">{{item.status.name}}</span></li>
							 {% elif item.status.id == 3 %}
							<li><span class="label label-red">{{item.status.name}}</span></li>
							 {% elif item.status.id == 4 %}
							<li><span class="label label-red">{{item.status.name}}</span></li>
							 {% endif %}
						</ul>
					</div>
				</div>
			</div>
			 {% endfor %}
			<div class="text-center">
				<ul class="pagination">
					 {% if data.page_info.has_previous %} {% if type == 'user' %}
					<li><a href="/items/user_items/{{data.page_info.previous}}">«</a></li>
					 {% elif type == 'list' %}
					<li><a href="/items/?page={{ data.page_info.previous}}&max_distance={{max_distance}}">«</a></li>
					 {% endif %} {% endif%} {% for page in data.page_info.range %} {% if data.page_info.current == page %}
					<li class="active"><a>{{ page }}</a></li>
					 {% else %} {% if type == 'user' %}
					<li><a href="/items/user_items/{{page}}">{{ page }}</a></li>
					 {% elif type == 'list' %}
					<li><a href="/items/?page={{page}}&max_distance={{max_distance}}">{{ page }}</a></li>
					 {% endif %} {% endif %} {% endfor %} {% if data.page_info.has_next %} {% if type == 'user' %}
					<li><a href="/items/user_items/{{ data.page_info.next}}">»</a></li>
					 {% elif type == 'list' %}
					<li><a href="/items/?page={{ data.page_info.next}}&max_distance={{max_distance}}">»</a></li>
					 {% endif %} {% endif %}
				</ul>
			</div>
		</div>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
<script type="text/javascript">
$(function(){
      $("#max_distance").change(function(){
      window.location='?max_distance=' + this.value + '&status=' + {{status}}{% if search %} + '&search=' + '{{search}}' {% endif %}
      });
});
</script>
<script type="text/javascript">
$(function(){
      $("#status").change(function(){
      window.location='?max_distance=' + {{max_distance}} + '&status=' + this.value{% if search %} + '&search=' + '{{search}}' {% endif %}
      });
});
</script>
 {% endblock js %} {% block menu_active %}
<script type="text/javascript">
$("#topnav-sub-list-items").addClass("active");
$("#topnav-items").addClass("active");
</script>
{% endblock menu_active%}