        <div class="panel panel-green margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> État de votre demande pour cette annonce.</h3>
            </div>
            <div class="panel-body">
            <div class="bg-light" style="margin: 10px; vertical-align: middle;">
    {% if reservations %}
        {% for reservation in reservations %}
            {% if reservation.username == request.user.username %}
                {% if reservation.accepted %}
                    {% if reservation.delivery.giver_conf %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sky-form">
                                <header class="text-center">
                                    <h4>Confirmation de livraison du donneur.</h4>
                                </header>
                                <fieldset>
                                    <div class="margin-bottom-10"></div>
                                    <div class="row text-center">
                                        Le donneur a confirmé la livraison de l'item le: &nbsp; <i class="fa fa-calendar"></i>  &nbsp; {{reservation.delivery.giver_conf_date}}
                                    </div>
                                    <div class="margin-bottom-10"></div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
    
                    {% else %}
                    {% endif %}
                    <div class="margin-bottom-10"></div>
                
                
                
                    {% if not reservation.delivery.taker_conf %}
                    <div class="row">
                        <div class="col-md-12">
                            <form id="taker_rating" role="form" class="sky-form" method="post" enctype="multipart/form-data" action="/items/delivery/">{% csrf_token %}
                                <div class="text-center"><p>Votre demande a été acceptée. Veuillez contacter le donneur.</p></div>
                                <header>
                                    <h4 class="text-center">Questionnaire à remplir une fois que vous avez l'item en main.</h4>
                                </header>
                                <input type="hidden" name="item_id" value="{{item.id}}">
                                <input type="hidden" name="from" value="taker">
                                <input type="hidden" name="reservation_id" value={{reservation.id}}>
                                <fieldset>
                                    <div class="row">
                                        <section>
                                            <div class="col-md-3 col-md-offset-1 col-xs-13">
                                                <label class="label">L'objet était-il tel que décrit?:</label>
                                            </div>                        
                                            <div class="col-md-2 col-xs-12">
                                                <div class="rating pull-left">
                                                    <input type="radio" name="object-rating" value="5" id="object-rating-5">
                                                    <label for="object-rating-5"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="object-rating" value="4" id="object-rating-4">
                                                    <label for="object-rating-4"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="object-rating" value="3" id="object-rating-3">
                                                    <label for="object-rating-3"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="object-rating" value="2" id="object-rating-2">
                                                    <label for="object-rating-2"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="object-rating" value="1" id="object-rating-1" checked>
                                                    <label for="object-rating-1"><i class="fa fa-star"></i></label>
                                                </div>
                                            </div>
                                  
                                            <div class="col-md-3 col-xs-12">
                                                <label class="label">Les ententes ont-elles été respectées?:</label>
                                            </div>
                                            <div class="col-md-2 col-xs-12">   
                                                <div class="rating pull-left">
                                                    <input type="radio" name="deal-rating" value="5" id="deal-rating-5">
                                                    <label for="deal-rating-5"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="deal-rating" value="4" id="deal-rating-4">
                                                    <label for="deal-rating-4"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="deal-rating" value="3" id="deal-rating-3">
                                                    <label for="deal-rating-3"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="deal-rating" value="2" id="deal-rating-2">
                                                    <label for="deal-rating-2"><i class="fa fa-star"></i></label>
                                                    <input type="radio" name="deal-rating" value="1" id="deal-rating-1" checked>
                                                    <label for="deal-rating-1"><i class="fa fa-star"></i></label>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="margin-bottom-10"></div>
                                    <div class="row">
                                        <section>
                                                <div class="col-md-1 col-md-offset-1">
                                                    <label class="label pull-right">Note:</label>
                                                </div>
                                                <label class="textarea">
                                                    <div class="col-md-9">
                                                        <textarea rows="3" name="note"></textarea>
                                                    </div>
                                                </label>
                                            <div class="margin-bottom-5"></div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <label class="label">Je confirme avoir reçu l'item.<span class="color-red"> *</span><input type="checkbox" name="confirmation"></label>
                                        </div>
                                        <div class="margin-bottom-5"></div>
                                    </div>
                                </fieldset>
                                <footer>
                                        <button class="btn btn-sm rounded btn-u pull-right" type="submit">Soumettre</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sky-form">
                                <header class="text-center">
                                    <h4>Votre confirmation de livraison.</h4>
                                </header>
                                <fieldset>
                                    <div class="margin-bottom-10"></div>
                                    <div class="row text-center">
                                        Vous avez confirmé la livraison de l'item le: &nbsp; <i class="fa fa-calendar"></i>  &nbsp; {{reservation.delivery.taker_conf_date}}
                                    </div>
                                    <div class="margin-bottom-10"></div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                {% else %}
                    <div class="row text-center">
                        <div class="col-md-10">
                        Votre demande n'a pas encore été acceptée.
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-sm rounded btn-warning center-block" data-toggle="modal" data-target="#cancel-demand" type="button"> Annuler ma demande</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
                <div class="bg-light" style="margin: 10px; vertical-align: middle;">
                    <div class="row">
                        <div class="row  bg-light text-center" style="margin: 10px">
                            <div class="col-md-12">
                                Il n'y as pas de demande de reservation pour cet item.
                            </div>
                        </div>                                   
    {% endif %}
                    </div>
                </div>
            </div>

            
<!-- Modal Annuler ma demande-->
<div class="modal fade" id="cancel-demand" tabindex="-1" role="dialog" aria-labelledby="myTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myTitle">Annuler votre demande pour l'item #: {{item.id}}</h4>
			</div>
			<form class="sky-form" role="form" id="cancel-demand-form" method="post" enctype="multipart/form-data" action="/items/cancel_demand/">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
                            <input type="hidden" name="item_id" value="{{item.id}}">
                            <label class="label">Êtes vous certain de vouloir annuler votre demande?</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
					<button type="submit" class="btn btn-primary">OUI</button>
				</div>
			</form>
		</div>
	</div>
</div>
