{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %}
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}

{% block content%}
<div class="container">
    <div class="margin-bottom-10"></div>
    <div class="panel panel-green margin-bottom-10">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Profil utilisateur.</h3>
        </div>
        <div class="panel-body">
        {% if status == "success" %}
            <div class="alert alert-success fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>Modifications enregistrées avec SUCCÈS</p>
            </div>
        {% elif status == "error" %}
            <div class="alert alert-danger fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>Une erreur ses produite, veuillez verifier vos informations.</p>
            </div>
        {% elif status == "pwd_not_equal" %}
            <div class="alert alert-danger fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>Une erreur ses produite, veuillez verifier vos informations.</p>
            </div>
        {% endif %}
            <div class="profile">   
                <div class="container content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!--Profile Body-->
                            <div class="profile-body margin-bottom-20">
                                <div class="tab-v1">
                                    <ul class="nav nav-justified nav-tabs">
                                        {% if not pswd %}
                                            <li class="active"><a data-toggle="tab" href="#profile">Modifier le profil</a></li>
                                            <li><a data-toggle="tab" href="#password">Changer le mot de passe</a></li>
                                        {% else %}
                                            <li><a data-toggle="tab" href="#profile">Modifier le profil</a></li>
                                            <li class="active"><a data-toggle="tab" href="#password">Changer le mot de passe</a></li>
                                        {% endif %}
                                    </ul>          
                                    <div class="tab-content">
                                        <div id="profile" class="profile-edit tab-pane fade in {% if not pswd %}active{% endif %}">
                                            <h2 class="heading-md">Modifier vos informations de profil.</h2>
                                            <p>Voici les informations actuellement présentes dans votre profil.</p>
                                            <div class="container content">
                                                <form class="reg-page" method="post" enctype="multipart/form-data" action="/user_profile/">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Prénom:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_first_name" name="first_name" class="form-control margin-bottom-20" value="{% if form.errors.first_name %}{{form.errors.first_name}}{% else %}{{profile_data.first_name}}{%endif%}">
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Nom:<span class="color-red">*</span>{% if form.errors.last_name%}<span class="color-red"> Ce champ est requis.</span>{% endif %}</label>
                                                            <input type="text" id="id_last_name" name="last_name" class="form-control margin-bottom-20" value="{% if profile_data.last_name %}{{profile_data.last_name}}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Courriel:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_email" name="email" class="form-control margin-bottom-20" value="{% if profile_data.email %}{{profile_data.email}}{% endif %}">
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
                                                            <label># Téléphone:</label>
                                                            <input type="text" id="id_tel" name="tel" class="form-control margin-bottom-20" value="{% if profile_data.tel %}{{profile_data.tel}}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-8 col-xs-12 margin-bottom-10">
                                                            <span class="color-red">Note:</span><br/>Il est important d'inscrire votre adresse exacte. Ceci sert à indiquer votre arrondissement sous vos annonces, et aussi à calculer la distance entre vous et un autre annonceur. Inscrire de fausses coordonnées nuira à votre fonctionnement général sur le site. Il est donc important de modifier vos coordonnées en cas de déménagement. Vos coordonnées n'apparaitront pas sur le site, mais serviront seulement à cibler votre arrondissement de façon électronique. 
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label># Civique:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_civic_num" name="civic_num" class="form-control margin-bottom-20" value="{% if profile_data.civic_num %}{{profile_data.civic_num}}{% endif %}">
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Rue:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_street" name="street" class="form-control margin-bottom-20" value="{% if profile_data.street %}{{profile_data.street}}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Ville:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_city" name="city" class="form-control margin-bottom-20" value="{% if profile_data.city %}{{profile_data.city}}{% endif %}">
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Province:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_prov_state" name="prov_state" class="form-control margin-bottom-20" value="{% if profile_data.prov_state %}{{profile_data.prov_state}}{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Pays:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_country" name="country" class="form-control margin-bottom-20" value="{% if profile_data.country %}{{profile_data.country}}{% endif %}">
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Code Postal:<span class="color-red">*</span></label>
                                                            <input type="text" id="id_postal_code" name="postal_code" class="form-control margin-bottom-20" value="{% if profile_data.postal_code %}{{profile_data.postal_code}}{% endif %}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-12">
                                                            <label>Arrondissement:</label>
                                                            <textarea class="form-control margin-bottom-20" disabled="disabled" style="resize: none;" row="2" id="id_district" name="district">{% if profile_data.district %}{{profile_data.district}}{% endif %}</textarea>
                                                        </div>
                                                        <div class="col-md-4 col-xs-12">
<!--                                                            <label>Photo:</label>
                                                            <input class="form-control margin-bottom-20" id="id_img" name="img" type="file">-->
                                                        </div>

                                                    </div>
                                                    <button type="submit" class="btn-u">SAUVEGARDER</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="password" class="profile-edit tab-pane fade in {% if pswd %}active{% endif %}">
                                            <h2 class="heading-md">Modifier votre mot de passe.</h2>
                                            <br>
                                            <form class="sky-form" method="post" enctype="multipart/form-data" action="/user_profile/pwd/">
                                                {% csrf_token %}
                                                <dl class="dl-horizontal">
                                                    <dt>Actuel</dt>
                                                    <dd>
                                                        <section>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-lock"></i>
                                                                <input type="password" id="password" placeholder="Mot de passe actuel" name="passwordCurrent">
                                                                <b class="tooltip tooltip-bottom-right"></b>
                                                            </label>
                                                        </section>
                                                    </dd>
                                                    <dt>Nouveau</dt>
                                                    <dd>
                                                        <section>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-lock"></i>
                                                                <input type="password" id="password" placeholder="Nouveau mot de passe" name="password">
                                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                                            </label>
                                                        </section>
                                                    </dd>
                                                    <dt>Confirmer</dt>
                                                    <dd>
                                                        <section>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-lock"></i>
                                                                <input type="password" placeholder="Confirmer le nouveau mot de passe" name="passwordConfirm">
                                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                                            </label>
                                                        </section>
                                                    </dd>    
                                                </dl>
                                                <br>
                                                <button class="btn-u" type="submit">SAUVEGARDER</button>
                                            </form>    
                                        </div>
                                        <div id="settings" class="profile-edit tab-pane fade">
                                            <h2 class="heading-md">Manage your Notifications.</h2>
                                            <p>Below are the notifications you may manage.</p>
                                            <br>
                                            <form class="sky-form" id="sky-form" action="">
                                                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Email notification</label>
                                                <hr>
                                                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Send me email notification when a user comments on my blog</label>
                                                <hr>
                                                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Send me email notification for the latest update</label>
                                                <hr>
                                                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Send me email notification when a user sends me message</label>
                                                <hr>
                                                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Receive our monthly newsletter</label>
                                                <hr>    
                                                <button type="button" class="btn-u btn-u-default">Reset</button>
                                                <button class="btn-u" type="submit">Save Changes</button>
                                            </form>    
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <!--End Profile Body-->
                    </div>
                </div><!--/end row-->
            </div><!--/container-->    
        </div>
    </div>
</div>
{% endblock content%}

{% block menu_active %}

    <script type="text/javascript">
        $("#topnav-sub-profile").addClass("active");
        $("#topnav-user").addClass("active");
    </script>
{% endblock menu_active%}