{% extends "base_generic.html" %} {% load staticfiles %} {% block CSS %}
<link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
 {% endblock CSS %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> Règlements</h4>
				</div>
            </div>
		</div>
        <div class="panel-body">
            <div class="bg-light" style="margin: 10px">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        Un courriel d'activation vous sera envoyé. <span class="color-red"><strong>SVP, vérifier vos courriers indésirables.</strong></span><br>
                        Veuillez suivre le lien d'activation afin de finaliser la création de votre compte.
                        
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
{% endblock js %}
{% block menu_active %}
<script type="text/javascript">
$("#topnav-fnct").addClass("active");
$("#topnav-fnct-reglements").addClass("active");
</script>
{% endblock menu_active%}