{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %}
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}

{% block content%}


<div class="container content">		
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="reg-page" action="/user/login/" method="post">
                {% csrf_token %}
            		{% if next %}
            		<input type="hidden" name="next" value="{{ next }}" />
            		{% endif %}
                    <div class="reg-header">            
                        <h2>Se connecter</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" value="{{ username }}">
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Mot de passe" name="password" value="">
                    </div>                    

                    <div class="row">
                        <div class="col-md-6">
                            <!--<label class="checkbox"><input type="checkbox"> Stay signed in</label>-->
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn-u btn-block" value="Log In">SE CONNECTER</button> 
                        </div>
                    </div>

                    <hr>

                    <h4>Vous avez oublié votre mot de passe ?</h4>
                    <p>pas de problème, <a class="color-green" href="/user/lost">cliquez ici</a> pour le réinitialiser.</p>
                </form>            
            </div>
        </div><!--/row-->
    </div>






{% endblock content%}