{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %}
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}

{% block content%}


<div class="container content">
        {% if sent_successful %}
        <div class="alert alert-success fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Le courriel a été envoy. avec SUCCESS.
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <p>Veuillez vérifier vos courriel et clicker sur le liens de reinitialisation de votre mot de passe.</p>
                
            </div>
        </div>
        {% elif set_password %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <form class="reg-page" action="/user/lost/" method="post">
                {% csrf_token %}
            		<input type="hidden" name="next" value="/user/login/" />
                    <input type="hidden" name="new_password" value="True" />
                    <input type="hidden" name="hash" value="{{hash}}" />
                    <input type="hidden" name="user_id" value="{{user_id}}" />
                    
                    <div class="reg-header">            
                        <h2>Entrez votre nouveau mot de passe.</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Mot de Passe: <span class="color-red">*</span></label>{% if errors.password %} {{errors.password|safe}}{% endif %}
                            <input type="password" class="form-control margin-bottom-20" name="password">
                        </div>
                        <div class="col-sm-6">
                            <label>Confirmer Mot de Passe <span class="color-red">*</span></label>{% if errors.confirm_password %} {{errors.confirm_password|safe}}{% endif %}
                            <input type="password" class="form-control margin-bottom-20" name="confirm_password">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn-u btn-block" value="Log In">Enregistrer</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/row-->
        
        {% else %}
        {% if user_dont_exist %}
            <div class="alert alert-danger fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Il n'y a pas d'utilisateur associé a ce courriel.
            </div>
        {% endif %}
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="reg-page" action="/user/lost/" method="post">
                {% csrf_token %}
            		{% if next %}
            		<input type="hidden" name="next" value="{{ next }}" />
            		{% endif %}
                    <input type="hidden" name="send_reset" value="True" />
                    <div class="reg-header">            
                        <h2>Réinitialiser votre mot de passe.</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Courriel" name="email" value="">
                    </div>                                   

                    <div class="row">
                        <div class="col-md-6">
                            <!--<label class="checkbox"><input type="checkbox"> Stay signed in</label>-->
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn-u btn-block" value="Log In">ENVOYER</button> 
                        </div>
                    </div>

                    <!--<hr>

                    <h4>Forget your Password ?</h4>
                    <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>-->
                </form>
            </div>
        </div><!--/row-->
        {% endif %}
    </div>






{% endblock content%}