{% extends "base_generic.html" %}
{% load staticfiles %}
{% block Slider %}
<!--=== Slider ===-->
<!--=== End Slider ===-->
{% endblock Slider %}

{% block content%}
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="reg-page" action="/user/subscribe/" method="post">
                {% csrf_token %}
                    <div class="reg-header">
                        <h2>Enregistrer un nouveau compte.</h2>
                        <p>Déjà enregistré? Cliquez <a href="/user/login" class="color-green">se connecter</a> pour vous connecter.</p>                    
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Nom d'utilisateur: <span class="color-red">*</span></label>{% if errors.username %} {{errors.username|safe}}{% endif %}
                            <input type="text" class="form-control margin-bottom-20" name="username" value="{{data.username}}">
                        </div>
                        <div class="col-sm-6">
                            <label>Courriel: <span class="color-red">*</span></label>{% if errors.email %} {{errors.email|safe}}{% endif %}
                            <input type="text" class="form-control margin-bottom-20" name="email" value="{{data.email}}">
                        </div>
                    </div>
                    <label>Prénom: <span class="color-red">*</span></label>{% if errors.first_name %} {{errors.first_name|safe}}{% endif %}
                    <input type="text" class="form-control margin-bottom-20" name="first_name" value="{{data.first_name}}">
                   
                    <label>Nom: <span class="color-red">*</span></label>{% if errors.last_name %} {{errors.last_name|safe}}{% endif %}
                    <input type="text" class="form-control margin-bottom-20" name="last_name" value="{{data.last_name}}">

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Mot de Passe: <span class="color-red">*</span></label>{% if errors.password %} {{errors.password|safe}}{% endif %}
                            <input type="password" class="form-control margin-bottom-20" name="password">
                        </div>
                        <div class="col-sm-6">
                            <label>Confirmer le Mot de Passe <span class="color-red">*</span></label>{% if errors.confirm_password %} {{errors.confirm_password|safe}}{% endif %}
                            <input type="password" class="form-control margin-bottom-20" name="confirm_password">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-6">
                            <label class="checkbox">
                                <input type="checkbox" name="terms_confirmed" {% if data.terms_confirmed %}checked{% endif %}> 
                                Je confirme avoir lu les <a href="/reglements" target="_blank" class="color-green">règlements</a> et pris connaissance des <a href="/termes" target="_blank" class="color-green">termes & conditions</a>
                            </label>            
                            {% if errors.terms_confirmed %}{{errors.terms_confirmed|safe}}{% endif %}            
                        </div>
                        <div class="col-lg-6 text-right">
                            <button type="submit" class="btn-u btn-block" value="submit">Soumettre</button>                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





{% endblock content%}