{% extends "base_generic.html" %}
{% load staticfiles %}
    {% block CSS %}
    <link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>  
    {% endblock CSS %}
    {% block Slider %}
    <!--=== Slider ===-->
    <!--=== End Slider ===-->
    {% endblock Slider %}
    
    {% block content%}
    <div class="container">
    <div class="margin-bottom-10"></div>
        <div class="panel panel-green margin-bottom-10">
            <div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> :  Catégories</h4>
				</div>
				 {% if type != 'user' and type != 'request' %}
				<!--<div class="col-md-1 text-align-right hidden-xs">-->
				<!--	<h4 class="panel-title text-right" style="margin-top: 5%;"><i class="fa fa-filter"></i> :</h4>-->
				<!--</div>-->
				<form role="form" id="distance" method="get" enctype="multipart/form-data" action="/items/">
					<div class="col-md-2 col-md-offset-3">
						<i class="fa fa-arrows-h visible-xs"></i>
						<select class="form-control" id="max_distance" name="max_distance">
							<option value="5" {% if max_distance == 5 %}selected="selected" {% endif %}>5 km</option>
							<option value="10" {% if max_distance == 10 %}selected="selected" {% endif %}>10 km</option>
							<option value="25" {% if max_distance == 25 %}selected="selected" {% endif %}>25 km</option>
							<option value="50" {% if max_distance == 50 %}selected="selected" {% endif %}>50 km</option>
							<option value="1000" {% if max_distance == 1000 %}selected="selected" {% endif %}>Illimite</option>
						</select>
					</div>
				</form>
				 {% endif %}
			</div>
            </div>
            
            <div class = "row">
                <div class="col-md-4">
                    {% for parent in row_1 %}
                        <div class="headline" style="margin-left: 10px; margin-right: 10px"><h4>{{ parent.parent.name }}</h4></div>
                        <ul>    
                        {% for child in parent.childs %}
                            <li>
                            {% if child.qts_items %}
                            <a href="/items/list/{{child.child.id}}">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</a>
                            {% else %}
                            <a href="#"><span class="tooltips" data-toggle="tooltip" data-placement="right" data-original-title="Aucun élément dans cet catégorie.">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</span></a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
      
                <div class="col-md-4">
                    {% for parent in row_2 %}
                        <div class="headline" style="margin-left: 10px; margin-right: 10px"><h4>{{parent.parent.name}}</h4></div>
                        <ul>    
                        {% for child in parent.childs %}
                            <li>
                            {% if child.qts_items %}
                            <a href="/items/list/{{child.child.id}}">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</a>
                            {% else %}
                            <a href="#"><span class="tooltips" data-toggle="tooltip" data-placement="right" data-original-title="Aucune annonce dans cet catégorie.">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</span></a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                
      
                <div class="col-md-4">
                    {% for parent in row_3 %}
                        <div class="headline" style="margin-left: 10px; margin-right: 10px"><h4>{{parent.parent.name}}</h4></div>
                        <ul>    
                        {% for child in parent.childs %}
                            <li>
                            {% if child.qts_items %}
                            <a href="/items/list/{{child.child.id}}">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</a>
                            {% else %}
                            <a href="#"><span class="tooltips" data-toggle="tooltip" data-placement="right" data-original-title="Aucun élément dans cet catégorie.">{{ child.child.name }} {% if child.qts_items > 0 %} ({{ child.qts_items}}) {% endif %}</span></a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
         
                    
                </div>
            </div>
        </div>
    </div>
    <!--=== End Content Part ===-->

                    
    {% endblock content%}
    
    {% block js %}
    <script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js"%}></script>
    <script type="text/javascript">
    $(function(){
        $("#max_distance").change(function(){
            console.log(this.value)
            window.location='?max_distance=' + this.value
        });
    });
    </script>
    {% endblock js %}
    {% block jquery_init %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initFancybox();
        });
    </script>
    
    {% endblock jquery_init %}
    
    {% block menu_active %}
    <script type="text/javascript">
        $("#topnav-items").addClass("active");
    </script>
    {% endblock menu_active%}