/* Add here all your css styles (customizations) */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}






.star {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 27px;
	color: #e3e3e3;
}

.star-active {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 27px;
	color: #fde16d;

}

.sky-form fieldset {
	display: block;	
	padding: 10px;
	border: none;
	background: rgba(255,255,255,.9);
}
