{% for message in messages %}
<div class="row" style="width:100%">
    {% if message.sent_from.id == request.user.id %}
    <div class="col-md-9 col-md-offset-2 col-xs-9 col-xs-offset-2 bg-light" style="background: #007aff; color:#ffffff;">
    {% else %}
    <div class="col-md-9 col-md-offset-1 col-xs-9 col-xs-offset-1 bg-light">
    {% endif %}
    
    {{message.message|linebreaks}}
        <div style="text-align:right;">
        {{message.created}}
        </div>
    </div>
</div>
{% endfor %}