<div class="modal fade" id="pmModal" data-userid="{{from.id}}" tabindex="-1" role="dialog" aria-labelledby="pmModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="pmModalLabel">Message de: {{from.username}}.</h4>
      </div>
      <div class="modal-body" id="pmModalBody">
          <div id="pmMessage">

          </div>
      </div>
      <div class="modal-footer">
            <div class="col-md-10 col-md-offset-1">
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <label>Répondre:</label>
                            <textarea class="form-control" id="pmmessage" name="pm-message-text" rows="2"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" data-send>Envoyer</button>
                </form>
            </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var test1 = ''
    $("#pmMessage").load('/messaging/pm/?from=' + $("[data-userid]").data('userid') + '&refresh=1');
    setInterval(function() {
        $.ajaxSetup({ cache: false });
        $("#pmMessage").load('/messaging/pm/?from=' + $("[data-userid]").data('userid') + '&refresh=1', function(){
            if ( ($("#pmMessage").height() - $("#pmModalBody").scrollTop() - $("#pmModalBody").height() ) < 250 ){
                $("#pmModalBody").animate({ scrollTop: $("#pmMessage").height() + 150 }, 'fast');
                console.log('SCROLLING TO BOTTOM')
            }
    
        });
    }, 5000);

</script>