    <li class="dropdown-submenu">
        <a href="javascript:void(0);">Liste des utilisateurs</a>
        <ul class="dropdown-menu">
            {% for user in users %}
            <li><a data-user="{{user.id}}" href="#">{{user.username}}</a></li>
            {% endfor %}
        </ul>                                
    </li>
<!--
    <li>
        <a href="/messaging/inbos/"> Boite de reception </a>
    </li>
-->
{% for item in data %}
    <li>
        <a data-user="{{item.from.id}}" href="#" > {{item.from.username}} <span class="badge badge-red rounded-x pull-right">{{item.new_message}}</span></a>
    </li>
{% endfor %}
        