{% extends "base_generic.html" %}
    {% load staticfiles %}
    {% block Slider %}
    <!--=== Slider ===-->
    <!--=== End Slider ===-->
    {% endblock Slider %}

    {% block content%}

<div class="margin-bottom-50"></div>
<div id="the-basics">
  <input class="typeahead" type="text" placeholder="user_list">
</div>
<div class="margin-bottom-50"></div>

    {% endblock content%}






{% block js %}
<script type="text/javascript" src={% static "js/pages/test.js" %}></script>
{% endblock js %}

    
{% block menu_active %}

{% endblock menu_active%}