{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Je prends je donne</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ErabliTEK Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable = yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href={% static "css/bootstrap-responsive.css" %}>
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.png">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href={% static "plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" %}>
    <link rel="stylesheet" href={% static "plugins/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href={% static "plugins/line-icons/line-icons.css" %}>
    <link rel="stylesheet" href={% static "plugins/font-awesome/css/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "plugins/flexslider/flexslider.css" %}>     
    <link rel="stylesheet" href={% static "plugins/layer-slider/layerslider/css/layerslider.css" %}>
    <link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
    <link rel="stylesheet" href={% static "plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" %}>  
    <!-- CSS Theme -->    
    <link rel="stylesheet" href={% static "css/themes/default.css" %} id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href={% static "css/custom.css" %}>
    {% block CSS %}
    {% endblock CSS %}
</head> 

<body class="boxed-layout container">

<div class="wrapper">

    <!--=== Header ===-->  
    {% include "Header.html" %}  
    <!--=== End Header ===-->
    
    {% block Slider %}
    <!--=== Slider ===-->
    {% include "Slider.html" %}
    <!--=== End Slider ===-->
    {% endblock Slider %}
    <!--=== Purchase Block ===-->
    
    {% block content%}
<!--    <div class="purchase">-->
        <div class="container">
            <div class="margin-bottom-10"></div>
            <div class="row">
                <div class="col-md-12 animated fadeInLeft text-center">
                    <h2>
                          "Je Prends Je Donne" est un groupe d'échange d'objets ou de services gratuits, qui a pour but de vous faire économiser, et de donner une alternative de consommation responsable.<br>
                          <br>
                          Ici, vous pourrez acquérir différents items gratuitement*, en échange de ceux qui ne vous sont plus utiles. En donnant une deuxième vie à vos objets, vous contribuez également à la réduction des déchets.
                    </h2>
                    <span class="text-center">
                        <small>* Des frais de transactions minimes s'appliquent lorsque vous obtenez un objet.</small>
                    </span>
                </div>            
            </div>
            <div class="margin-bottom-10"></div>
        </div>
<!--    </div>  --> 
    {% endblock content%}
    <!-- End Content Part -->

    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-10">
                    <!-- About -->
                    <div class="headline"><h2>À Propos.</h2></div>  
                    <p class="margin-bottom-10 md-margin-bottom-10">"Je Prends Je Donne" est un groupe d'échange d'objets ou de services gratuits, qui a pour but de vous faire économiser, et de donner une alternative de consommation responsable.</p>    
                    <!-- End About -->
                </div><!--/col-md-4-->  
                
                <div class="col-md-4 md-margin-bottom-10">
                    <!-- Nouveauté -->
                    <div class="headline"><h2>Nouveautés.</h2></div>  
                    <ul id="nouveaute"></ul>    
                    <!-- End Nouveautés -->
                </div><!--/col-md-4-->

                <div class="col-md-4">
                    <!-- Contact Us -->
                    <div class="headline"><h2>Nous Joindre</h2></div> 
                    <address class="md-margin-bottom-40">
                        1315, Phénix, Sherbrooke <br>
                        Quebec, Canada <br>
                        Email: <a href="mailto:info@jeprendsjedonne.com" class="">info@jeprendsjedonne.com</a><br>
                        <br>
                        Support en direct:<br>
                        <a data-user="1" href="#">- Administration 1 </a><br>
                        <a data-user="2" href="#">- Administration 2 </a>
                    </address>
                    <!-- End Contact Us -->

                </div>
            </div>
        </div> 
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                     
                    <p>
                        2014 &copy; Je prends je donne. Tout Droits Réservé. 
                        <a href="/reglements">Règlements</a> | <a href="/fonctionnement">Fonctionnement</a> | <a href="/termes">Termes & conditions</a>
                    </p>
                </div>
<!--                <div class="col-md-6">  
                    <a href="index.html">
                        <img class="pull-right" id="logo-footer" src={% static "img/logo2-default.png" %} alt="">
                    </a>
                </div>
-->            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
    <div id="pmmodal" style="margin:10px;"></div>

</div><!--/wrapper-->
<!-- JS Global Compulsory -->           
<script type="text/javascript" src={% static "plugins/jquery-1.10.2.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/jquery-migrate-1.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/bootstrap/js/bootstrap.min.js" %}></script>
<!-- JS Implementing Plugins -->
<!-- <script type="text/javascript" src={% static "plugins/back-to-top.js" %}></script> -->
<script type="text/javascript" src={% static "plugins/flexslider/jquery.flexslider-min.js" %}></script>
<!-- Layer Slider -->
<script type="text/javascript" src={% static "plugins/layer-slider/layerslider/js/greensock.js" %}></script>
<script type="text/javascript" src={% static "plugins/layer-slider/layerslider/js/layerslider.transitions.js" %}></script>
<script type="text/javascript" src={% static "plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js" %}></script>
<!-- End Layer Slider -->
<!-- JS Page Level -->           
<script type="text/javascript" src={% static "js/app.js" %}></script>
<script type="text/javascript" src={% static "js/pages/index.js" %}></script>
<script type="text/javascript" src={% static "js/pages/base_generic.js" %}></script>
<script type="text/javascript" src={% static "js/plugins/typeahead.bundle.js" %}></script>

<script>

//Fix modal mobile Boostrap 3
function Show(id){
    //Fix CSS
    $(".modal-footer").css({"padding":"19px 20px 20px","margin-top":"15px","text-align":"right","border-top":"1px solid #e5e5e5"});
    $(".modal-body").css("overflow-y","auto");
    //Fix .modal-body height
    $('#'+id).on('shown.bs.modal',function(){
        $("#"+id+">.modal-dialog>.modal-content>.modal-body").css("height","auto");
        h1=$("#"+id+">.modal-dialog").height();
        h2=$(window).height();
        h3=$("#"+id+">.modal-dialog>.modal-content>.modal-body").height();
        h4=h2-(h1-h3);      
        if($(window).width()>=768){
            if(h1>h2){
                $("#"+id+">.modal-dialog>.modal-content>.modal-body").height(h4);
            }
            $("#"+id+">.modal-dialog").css("margin","30px auto");
            $("#"+id+">.modal-dialog>.modal-content").css("border","1px solid rgba(0,0,0,0.2)");
            $("#"+id+">.modal-dialog>.modal-content").css("border-radius",6);               
            if($("#"+id+">.modal-dialog").height()+30>h2){
                $("#"+id+">.modal-dialog").css("margin-top","0px");
                $("#"+id+">.modal-dialog").css("margin-bottom","0px");
            }
        }
        else{
            //Fix full-screen in mobiles
            $("#"+id+">.modal-dialog>.modal-content>.modal-body").height(h4);
            $("#"+id+">.modal-dialog").css("margin",0);
            $("#"+id+">.modal-dialog>.modal-content").css("border",0);
            $("#"+id+">.modal-dialog>.modal-content").css("border-radius",0);   
        }
        //Aply changes on screen resize (example: mobile orientation)
        window.onresize=function(){
            $("#"+id+">.modal-dialog>.modal-content>.modal-body").css("height","auto");
            h1=$("#"+id+">.modal-dialog").height();
            h2=$(window).height();
            h3=$("#"+id+">.modal-dialog>.modal-content>.modal-body").height();
            h4=h2-(h1-h3);
            if($(window).width()>=768){
                if(h1>h2){
                    $("#"+id+">.modal-dialog>.modal-content>.modal-body").height(h4);
                }
                $("#"+id+">.modal-dialog").css("margin","30px auto");
                $("#"+id+">.modal-dialog>.modal-content").css("border","1px solid rgba(0,0,0,0.2)");
                $("#"+id+">.modal-dialog>.modal-content").css("border-radius",6);               
                if($("#"+id+">.modal-dialog").height()+30>h2){
                    $("#"+id+">.modal-dialog").css("margin-top","0px");
                    $("#"+id+">.modal-dialog").css("margin-bottom","0px");
                }
            }
            else{
                //Fix full-screen in mobiles
                $("#"+id+">.modal-dialog>.modal-content>.modal-body").height(h4);
                $("#"+id+">.modal-dialog").css("margin",0);
                $("#"+id+">.modal-dialog>.modal-content").css("border",0);
                $("#"+id+">.modal-dialog>.modal-content").css("border-radius",0);   
            }
        };
    });  
    //Free event listener
    $('#'+id).on('hide.bs.modal',function(){
        window.onresize=function(){};
    });  
    //Mobile haven't scrollbar, so this is touch event scrollbar implementation
    var y1=0;
    var y2=0;
    var div=$("#"+id+">.modal-dialog>.modal-content>.modal-body")[0];
    console.log(div)
    div.addEventListener("touchstart",function(event){
        y1=event.touches[0].clientY;
    });
    div.addEventListener("touchmove",function(event){
        event.preventDefault();
        y2=event.touches[0].clientY;
        var limite=div.scrollHeight-div.clientHeight;
        var diff=div.scrollTop+y1-y2;
        if(diff<0)diff=0;
        if(diff>limite)diff=limite;
        div.scrollTop=diff;
        y1=y2;
    });
    //Fix position modal, scroll to top.    
    $('html, body').scrollTop(0);
    //Show
    $("#"+id).modal('show');
}






function send_pm(){
    $.ajax({
        type: "POST",
        url: "/messaging/pm/?from=" + $(that).data('user'),
        data: {"pmmessage": $('#pmmessage').val()},
        dataType: "json",
        success: function(response, status){
            if (!response.success){
                console.log('Failed to get readings');
            }
            else {
                $("#pmMessage").load('/messaging/pm/?from=' + $(that).data('user') + '&refresh=1')
                $('#pmmessage').val("")
                $("#pmModalBody").animate({ scrollTop: $("#pmMessage").height() + 150 }, 'fast');
            }
        }
    });
}

</script>


{% block js %}
{% endblock js %}

{% block jsheader %}
{% endblock jsheader %}
{% block jquery_init %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initLayerSlider();
    });

</script>

{% endblock jquery_init %}
{% block menu_active %}
<script type="text/javascript">
    $("#topnav-home").addClass("active");
</script>
{% endblock menu_active%}

<!--[if lt IE 9]>
    <script src={% static "plugins/respond.js" %}></script>
    <script src={% static "plugins/layer-slider/assets/js/html5.js" %}></script>    
<![endif]-->
{% if request.user.id %}


<script>
    function refresh_profile_menu(){
        $.ajaxSetup({ async: false, cache: false });
        var my_ad_alert;
        $.ajax({
            url: "/items/my_ad_alert",
            success: function(response){
                my_ad_alert = parseInt(response);
            }
        });
        var request_alert;
        $.ajax({
            url: "/items/request_alert",
            success: function(response){
                request_alert = parseInt(response);
            }
        });
        console.log( 'My Ad Alert: ' + my_ad_alert );
        console.log( 'My Request Alert: ' + request_alert );
        console.log( 'Total: ' + request_alert + my_ad_alert )
        var total_alerts = my_ad_alert + request_alert
        if (total_alerts == 0) {
            total_alerts = ""
        }
        $("#total_alerts").text( total_alerts );
        if (my_ad_alert == 0) {
            my_ad_alert = ""
        }
        $("#my_ad_alert").text(my_ad_alert);
        if (request_alert == 0) {
            request_alert = ""
        }
        $("#request_alert").text(request_alert);
        
        $("#num_message").load('/messaging/num_messages');
        $("#messaging_sub_menu").load('/messaging/sub_menu', function(){
                $("[data-user]").on('click', function(){
                    that = this
                    console.log('/messaging/pm/?from=' + $(that).data('user'));
                    $("#pmmodal").load('/messaging/pm/?from=' + $(that).data('user'), function(){
                        console.log($(that).data('user') + 'YES SIR');
                        $("#pmMessage").load('/messaging/pm/?from=' + $(that).data('user') + '&refresh=1', function(){
                            Show('pmModal');
                            
                            });
                    $("[data-dismiss]").on('click'), function(){
                        $('#pmModal').html();
                    }
                    $('#pmModal').on('shown.bs.modal', function () {
                        console.log('Text Height:' + $("#pmMessage").height());
                        $("#pmModalBody").animate({ scrollTop: $("#pmMessage").height() + 150 }, 'fast');
                    });
                    
                    $("[data-send]").on('click', function(){
                        send_pm();
                    });
                });
            });
        });    
    }
    
    refresh_profile_menu()

    setInterval(function() {
        refresh_profile_menu()
    }, 15000);
</script>

{% endif %}
<script>
    $("#srch-button").on('click', function(){
        window.location.href = "/items/?search=" + $("#Search-box").val(){% if max_distance %} + "&max_distance={{max_distance}}" {% endif %}{% if status %} + "&status={{status}}"{% endif %} 
    })
</script>
</body>
</html> 