{% extends "base_generic.html" %} {% load staticfiles %} {% block CSS %}
<link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
 {% endblock CSS %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> Fonctionnement</h4>
				</div>
            </div>
		</div>
        <div class="panel-body">
            <div class="bg-light" style="margin: 10px">
                <div class="margin-bottom-20"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel-group acc-v1" id="accordion-1">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                            1. Où peut-on voir les objets à donner?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-One" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Les objets à donner sont affichés dans l'onglet ANNONCES. Il est possible de les voir par CATÉGORIES, ou de sélectionner les annonces RÉCENTES (dernières annonces affichées sur le site). 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                            2. Comment publier une annonce?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Two" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Il suffit de suivre le lien "Publier une annonce" sous l'onglet ANNONCES 
Vous pourrez alors y ajouter un maximum de 3 photos. Votre arrondissement s'inscrit automatiquement, en lien avec l'adresse fournie dans votre profil. Il est important de conserver vos données à jour. Certains membres préfèreront des objets qui sont disponibles près de chez eux. Si les coordonnées ne sont pas exactes, cela engendrera des confusions. 
** Vos coordonnées n'apparaissent pas sur les annonces. Seul l'arrondissement y sera affiché ** 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                            3. Quelles sont les informations importantes inscrites dans les annonces?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Three" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                À droite, vous pourrez voir le nombre de crédits demandés pour l'objet, Le nom de l'annonceur (Avec possibilité de le contacter en cliquant sur son nom), La distance qui vous sépare de l'annonceur, ainsi que le status de l'item (Disponible, Réservé ou Donné).
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                            4. Que sont les CRÉDITS, à quoi servent-ils?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Four" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Les CRÉDITS sont une monnaie d'échange virtuelle. Ils servent à assurer une continuité dans les chaines.
Ils apparaissent dans les annonces, sous la forme de billets jaunes.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five">
                                            5. Comment obtenir des CRÉDITS? Comment les utiliser?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Five" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Les 2 premiers crédits vous sont offerts dès l'inscription. Par la suite, la seule façon d'obtenir des CRÉDITS, est de donner des objets.  Lorsque vous donnez des objets, vous obtenez le nombre de crédits demandés. L'ajout se fait automatiquement, dès que le preneur confirme la réception.<br/><br/>  
Vous pouvez utiliser vos CRÉDITS pour réserver de nouveaux objets offerts sur le site.
Si vous n'avez pas le nombre de crédits demandés pour un objet vous pourrez tout de même démontrer votre intérêt. Toutefois, le donneur ne pourra vous le réserver. Il recevra alors le message: Crédits insuffisants. 
Vous pouvez voir votre nombre de crédits disponibles en haut à droite.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Six">
                                            6. À quoi servent les TRANSACTIONS? Comment en obtenir?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Six" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Les transactions sont une contribution pour l'utilisation du service. Peu importe l'objet que vous souhaitez réserver, il vous en coûtera une TRANSACTION. Pour obtenir des TRANSACTIONS, vous devez sélectionner le forfait qui vous convient le mieux via AJOUTER DES TRANSACTIONS sous l'onglet de votre nom.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Seven">
                                            7. Comment démontrer mon intérêt pour un objet? Suis-je certain d'obtenir l'objet?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Seven" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Après avoir cliqué sur l'annonce qui vous intéresse, vous devez cliquer sur le bouton "INTÉRESSÉ". Ce bouton sera accessible tant que l'objet n'est pas donné. Cela enverra un message à l'annonceur. Toutefois, cela ne garantit pas que vous aurez l'objet. Plusieurs personnes peuvent se montrer intéressées pour le même objet. Le donneur confirmera la réservation à une de ces personnes (idéalement par ordre de priorité).  Si l'objet vous est réservé, vous recevrez une notifications dans MES DEMANDES.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Height">
                                            8. Comment conclure une entente, une fois qu'un objet m'est réservé?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Height" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Vous pourrez convenir d'une entente avec le donneur en envoyant un message privé à cette personne (vous n'avez qu'à cliquer sur le nom du donneur, dans son annonce). Une fois l'objet récupéré, le donneur et le preneur doivent confirmer que l'objet est bel et bien remis. En tant que preneur, vous aurez à répondre à 2 questions de satisfaction concernant l'objet, avant de confirmer.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Nine">
                                            9. Qu'est-ce que la cote de satisfaction de l'annonceur?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-Nine" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                La cote de satisfaction de l'annonceur est une moyenne des notes données par les gens ayant obtenu un objet de cet annonceur. La cote est basée sur 2 questions: "L'objet était-il tel que décrit?" et "Est-ce que les ententes ont été respectées?".<br/>
Il est important de remettre des objets en bon état, (ou de décrire de façon détaillée les défauts),  ainsi que de respecter les ententes. Les membres auront tendance à privilégier des échanges avec des annonceurs qui ont une bonne cote. Si vous maintenez une mauvaise cote, vous aurez de la difficulté à obtenir des crédits, afin de réserver d'autres objets à votre tour.     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        
                        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-ten">
                                            10. Où puis-je voir les annonces que j'ai publiées?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-ten" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Vous pouvez voir toutes les annonces que vous avez publiées dans MES ANNONCES, sous l'onglet de votre nom.
                                                Les annonces sont classées par leur status (Disponible, Réservées ou Données). Les annonces qui ont été confirmées comme étant DONNÉES seront automatiquement supprimées le soir même, à 23h59.
                                                À partir de cet endroit, vous pouvez modifier ou supprimer votre annonce. 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-eleven">
                                            11. Où puis-je voir les annonces pour lesquelles j'ai mis mon intérêt?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-eleven" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Les annonces pour lesquelles vous avez mis votre intérêt (Cliqué sur "Intéressé") se trouvent dans MES DEMANDES, sous l'onglet de votre nom. À partir de cet endroit, vous pourrez retirer votre intérêt pour l'objet (Annuler ma demande). Si une annonce n'y est plus, c'est que l'objet a été donné à quelqu'un d'autre, ou retiré par son annonceur.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-twelve">
                                            12. Puis-je me mettre intéressé pour un objet, même si je n'ai plus de transactions ni crédits?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-twelve" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                Vous pouvez vous mettre intéressé même si vous n'avez pas de crédits et/ou transactions en banque.
                                                Cela vous laissera donc le temps d'acheter des transactions, ou de donner des objets afin d'obtenir des crédits.
                                                TOUTEFOIS, le donneur ne pourra vous accorder la réservation, si vous n'avez pas le nombre de crédits demandés, et au moins 1 transaction de disponible. 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        
            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
{% endblock js %}
{% block menu_active %}
<script type="text/javascript">
$("#topnav-fnct").addClass("active");
$("#topnav-fnct-general").addClass("active");
</script>
{% endblock menu_active%}