{% load staticfiles %}
    <div class="header">
        <!-- Topbar -->

        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src={% static "img/logo1-default.png" alt="Logo" %}>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li id="topnav-home"><a href="/">Accueil</a></li>
                        <!-- End Home -->

                        <!-- Pages -->                        
                        <li class="dropdown" id="topnav-items">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Items
                            </a>
                            <ul class="dropdown-menu">        
                                <!-- Funny Boxes -->
                                <li id="topnav-sub-list-items"><a href="/items/">Lister les items</a></li>
                                {% if request.user.id %}
                                <li id="topnav-sub-add-items"><a href="/items/add_item/">Ajouter un item</a></li>
                                {% endif %}
                                <!-- End Funny Boxes -->
                            </ul>
                        </li>
                        <!-- End Pages -->
                    
                        {% if request.user.id %}
                        <li class="dropdown" id="topnav-user">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {{request.user.first_name}}, {{request.user.last_name}} <span class="badge badge-red rounded-x" id="total_alerts"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);"><i class="fa fa-envelope"></i> Messaging  <span class="badge badge-red rounded-x pull-right" id="num_message"></span></a>
                                    <ul class="dropdown-menu" style="left:-100%;" id="messaging_sub_menu">

                                    </ul>
                                </li>
                                <li id="topnav-sub-profile"><a href="/user_profile/">Profile</a></li>
<!--                                 <li><a href="/profile/{{request.user.id}}">Ajout de transactions</a></li> -->
                                <li><a href="/user/logout?next={{request.path}}">Logout</a></li>
                            </ul>
                        </li>                    
                        {% else %}
                        <li id="topnav-home"><a href="/user/login?next={{request.path}}">Se Connecter</a></li>
                        {% endif %}
                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    
    
    
    
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Modal title</h4>

            </div>
            <div class="modal-body"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

