{% load staticfiles %}
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                
                <ul class="loginbar pull-right">
                {% if not request.user.id %}
                  <!--   <li class="topbar-devider"></li>   --> 
                    <li><a href="/user/login">Se connecter</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="/user/subscribe">Créer un compte</a></li>
                {% else %}
                    <li class="topbar-devider"></li>   
                    <li><a>Credits: {{profile.profile_data.avaible_credits}} / {{profile.profile_data.unavaible_credits}}</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a>Transactions: {{profile.profile_data.transactions}}</a></li>   
                {% endif %}
                </ul>
                
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="logo-header" src={% static "img/navbar.png" alt="Logo" %} style="margin-top: -22px">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li id="topnav-home"><a href="/">Accueil</a></li>
                        <!-- End Home -->
                        <!-- Pages -->                        
                        <li class="dropdown" id="topnav-items">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Annonces
                            </a>
                            <ul class="dropdown-menu">        
                                <!-- Funny Boxes -->
                                <li id="topnav-sub-cat-items"><a href="/parent_categories/get_parent">Par Catégories</a></li>
                                <li id="topnav-sub-list-items"><a href="/items">Récentes</a></li>
                                {% if request.user.id %}
                                <li id="topnav-sub-add-items"><a href="/items/add_item/">Publier une annonce</a></li>
                                {% endif %}
                                <!-- End Funny Boxes -->
                            </ul>
                        </li>
                        <!-- End Pages -->


                        <li class="dropdown" id="topnav-fnct">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Fonctionnement
                            </a>
                            <ul class="dropdown-menu">        
                                <!-- Funny Boxes -->
                                <li id="topnav-fnct-general"><a href="/fonctionnement">Fonctionnement général</a></li>
                                <li id="topnav-fnct-reglements"><a href="/reglements">Règlements</a></li>
                                <!-- End Funny Boxes -->
                            </ul>
                        </li>


                        {% if request.user.id %}
                        
                        <li class="dropdown" id="topnav-user">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Messagerie <span class="badge badge-red rounded-x" id="num_message"></span>
                            </a>
                            <ul class="dropdown-menu" id="messaging_sub_menu">
                                <!-- Auto Generated by JS -->
                            </ul>
                        </li>                    

                        <li class="dropdown" id="topnav-profile">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {{request.user.first_name}} {{request.user.last_name}} <span class="badge badge-red rounded-x" id="total_alerts"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="topnav-sub-mes-annonces"><a href="/items/user_items/1">Mes Annonces <span class="badge badge-red rounded-x pull-right" id="my_ad_alert">1</span></a></li>
                                <li id="topnav-sub-mes-demandes"><a href="/items/user_request/1">Mes Demandes <span class="badge badge-red rounded-x pull-right" id="request_alert">2</span></a></li>
                                <li id="topnav-sub-profile"><a href="/user_profile/">Profil</a></li>
                                <li id="topnav-sub-transactions-list"><a href="/transactions/list">Liste des transactions</a></li>
                                <li id="topnav-sub-transactions-add"><a href="/transactions/">Ajout de transactions</a></li>
                                <li><a href="/user/logout?next={{request.path}}">Se déconnecter</a></li>
                            </ul>
                        </li>                    
                        {% else %}
          <!--               <li id="topnav-home"><a href="/user/login?next={{request.path}}">Se Connecter</a></li> -->
                        {% endif %}
                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search" id="Search-box">
                                    <span class="input-group-btn">
                                        <button class="btn-u" id="srch-button" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>


