{% extends "base_generic.html" %} {% load staticfiles %} {% block CSS %}
<link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
 {% endblock CSS %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> Règlements</h4>
				</div>
            </div>
		</div>
        <div class="panel-body">
            <h4 class="text-center">** Toute annonce qui ne respecte pas ces règles, sera supprimée sans préavis **</h4>
            <div class="bg-light" style="margin: 10px">
                <div class="margin-bottom-20"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <ol>
                            <li><p>Sont INTERDITS:</p></li>
                            <ol>
                                <li><p>Animaux (Ici, les transactions se font rapidement, et nous considérons que l'adoption d'un animal ne doit pas se faire de cette façon)</p></li> 
                                <li><p>Armes, ainsi que tout objet relié à son utilisation.</p></li>
                                <li><p>Article faisant l'objet d'un rappel.</p></li>
                                <li><p>Article volé</p></li>
                                <li><p>Boissons alcoolisées.</p></li>
                                <li><p>Contenu illicite, offensant à caractère violent ou raciste.</p></li>
                                <li><p>Drogue. ou tabac</p></li>
                                <li><p>Jeu/DVD/CD copié.</p></li>
                                <li><p>Médicament ou tout objet nécessitant une prescription.</p></li>
                                <li><p>Produits sanguins ou fluides corporels.</p></li>
                                <li><p>Services érotiques (prostitution, massages érotiques...)</p></li>                                
                            </ol>

                                
                            
                            <li><p>Spécifier clairement l'ÉTAT de votre objet. Vérifier les dates d'expiration (aliments, sièges d'autos...) avant d'annoncer.</p></li>
                            <li><p>AUCUN MONTANT d'argent ne peut être demandé, peu importe l'objet que vous offrez. Seule la livraison peut faire l'objet d'une entente raisonnable.</p></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
{% endblock js %}
{% block menu_active %}
<script type="text/javascript">
$("#topnav-fnct").addClass("active");
$("#topnav-fnct-reglements").addClass("active");
</script>
{% endblock menu_active%}