{% load staticfiles %}
    <!--=== Slider ===-->
    <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto;">
        <!-- First slide -->
        <div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
            <img src={% static "img/sliders/layer/rat.png" %} class="ls-bg" alt="Slide background"/>

            <img class="ls-l" src={% static "img/mockup/iphone1.png" %} style="top: 90%; left: 85%;" 
            data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />
        
            <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:40px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;">
                Je prends je donne. <br> Sur ordinateur et mobile.
            </span>
        </div>
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->