            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="list-inline badge-lists badge-icons pull-right" style="margin-top: 5px;">
           <!--     <ul class="loginbar pull-right badge-icons"> -->
<!--
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="lenguages">
                            <li class="active">
                                <a href="#">Français <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </li>


                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>
-->
                    
                    
                    
                    
                    
                    
                    {% if request.user.id %}
                    <li class="dropdown" id="topnav-items">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="badge badge-red rounded-x" id="num_message"></span><i class="fa fa-envelope"></i></a>
                        
                    <li class="topbar-devider"></li>   
                    <li><a>Credits: {{profile.profile_data.credits}}</a></li>    
                    <li class="topbar-devider"></li>   
                    <li><a>Transactions: {{profile.profile_data.transactions}}</a></li>
                    {% else %}
                    <li><a href="/user/subscribe/">Ouvrir un compte</a></li>     
                    {% endif %}
                </ul>
                <!-- End Topbar Navigation -->
            </div>






    <div class="row"> 
        <div class="pull-right">
            <div class="btn-group margin-right-10">
                <button type="button" class="btn-u dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="sr-only">Toggle Dropdown</span>                            
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="fa fa-arrows-alt"></i> Fullscreen</a></li>
                    <li><a href="#"><i class="fa fa-unlink"></i> Some Links</a></li>
                    <li><a href="#"><i class="fa fa-list"></i> Main Links</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-cloud-download"></i> Download All</a></li>
                </ul>
            </div>
        </div>
    </div>
