{% extends "base_generic.html" %} {% load staticfiles %} {% block CSS %}
<link rel="stylesheet" href={% static "plugins/fancybox/source/jquery.fancybox.css" %}>
 {% endblock CSS %} {% block Slider %} 
<!--=== Slider ===-->
<!--=== End Slider ===-->
 {% endblock Slider %} {% block content%}
<div class="container">
	<div class="margin-bottom-10">
	</div>
	<div class="panel panel-green margin-bottom-10">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<h4 class="panel-title" style="margin-top: 1%;"><i class="fa fa-tasks"></i> Termes & conditions.</h4>
				</div>
            </div>
		</div>
        <div class="panel-body">
            
            <div class="bg-light" style="margin: 10px">
                <div class="margin-bottom-20"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p><u>Acceptation des conditions d'utilisation:</u><br>
                        Tous les utilisateurs de "Je prends je donne" sont sujets aux termes et conditions générales suivantes et à toute autre loi applicable.
                        L'utilisation de ce site constitue votre approbation. Si vous n'êtes pas d'accord avec ces termes et conditions générales, veuillez ne pas naviguer sur le site.</p>
                        <br>
                        <p><u>Engagement de l'utilisateur:</u></p>
                        <ol>
                            <li><p><u>En tant que DONNEUR, je comprends qu'il m'appartient de:</u></p></li>
                            <ol>
                                <li><p>Vérifier l'état de l'objet de l'objet que j'annonce.</p></li>
                                <li><p>Annoncer mes objets en décrivant l'état le plus précisément possible (mentionner les défauts s'il y en a)</p></li>
                                <li><p>Afficher vos annonces qu'une seule fois par item (vous pouvez inscrire plus d'une annonce identique, seulement si vous avez    un 2e objet identique à donner).</p></li>
                                <li><p>Tenir mes annonces à jour (vérifier s'il y a des gens intéressés, supprimer les annonces dont les items sont périmés...)</p></li>
                            </ol>

                            <li><p><u>En tant que PRENEUR, je comprends qu'il m'appartient de:</u></p></li>
                            <ol>
                                <li><p>Demander les informations supplémentaires afin de m'assurer que l'objet me convient, avant de me déplacer (provenance d'un endroit fumeur, ou avec animaux, fonctionnalités de l'objet...)</p></li>
                                <li><p>Vérifier la condition de l'objet avant de quitter les lieux avec l'item.</p></li>
                                <li><p>Répondre au sondage de satisfaction le plus rapidement possible.</p></li>
                                <li><p>Vérifier régulièrement le statut de mes demandes de réservation, sans quoi le donneur pourra décider de donner l'objet à une autre personne.</p></li>
                            </ol>
                        </ol>
                        <p><u>Résiliation:</u></p>
                        <ul>
                            <li><p>"Je prends je donne" se réserve le droit de suspendre, ou annuler votre accès au site à tout moment, pour un motif jugé raisonnable. 
Ceci s'applique dans les cas où l'utilisateur commet un manquement grave à un règlement, ou lorsque l'utilisateur commet des manquements à répétition, malgré les avis qui lui seront faits. Le compte peut également être suspendu, si vous fournissez des coordonnées erronées, et que vous omettez de les modifier après avertissement. 
La suspension ou l'annulation de votre accès se fait sans aucune compensation.</p></li>
                        </ul>
                        <p><u>Avis de non-responsabilité:</u></p>
                        <ul>
                            <li><p>"Je prends je donne" ne peut être tenu responsable pour la condition d'aucun objet. Nous effectuons régulièrement des suivis en lien avec les questionnaires de satisfaction qui ont été remplis. Toutefois, nous ne pouvons nous porter garant pour aucun utilisateur, ni des objets ou services qu'ils offrent. Vous devez donc faire les vérifications nécessaires avant de réserver et/ou quitter avec l'objet. 
"Je prends je donne" se dégage de la responsabilité en cas de non-remise des objets. Il est donc important de ne confirmer l'obtention d'un objet, que lorsque vous l'avez réellement en main. 
Il est de votre responsabilité d'assurer la confidentialité de vos identifiants. Veuillez conserver vos informations de connexion confidentiels.</p></li>
                        </ul>
                        
                        <p><u>Droits d'auteur:</u></p>
                        <ul>
                            <li><p>Les Logos et autres marques de commerce affichées sur le site sont la propriété de "Je prends je donne" et ne peuvent être utilisées dans autorisation écrite de "Je prends je donne". </p></li>
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bordered Funny Boxes -->
	</div>
</div>
{% endblock content%}
{% block js %}
<script type="text/javascript" src={% static "plugins/fancybox/source/jquery.fancybox.pack.js" %}></script>
{% endblock js %}
{% block menu_active %}
<script type="text/javascript">
$("#topnav-fnct").addClass("active");
$("#topnav-fnct-reglements").addClass("active");
</script>
{% endblock menu_active%}